.embed-responsive-item{
    border-radius:10px ;
    height: 500px;
    width: 100%;

}

h3{
    font-family: shanghai;
    letter-spacing: 5pt;
}

span{
    font-family: Arial, sans-serif;
    letter-spacing: 3pt;
}
.btn{
    letter-spacing: 3pt;
    font-family: Arial, sans-serif;   
  }
  .btn:hover{
    background-color: #a85454;
    border: #a85454;
  }
 h4{
    font-family: shanghai;
    letter-spacing: 5pt;   
 }