span{
    color: #a85454;
    font-size: 30px;
    letter-spacing: 3pt;
    font-family: Arial,sans-serif
}
h3{
    text-transform: uppercase;
    letter-spacing: 4pt;
    padding-bottom: 10px;
    font-family: shanghai;
}

p{
    letter-spacing: 3pt;
    font-family: Arial,sans-serif;
    line-height: 1.7;
    font-size: 15px;
    text-align: justify;
}
/* ====video=== */




  /* El contenedor con el padding-top crea el tamaño del vídeo
  .contenedor{
  height:0px;
  width:100%;
  /* max-width:100%; Así establecemos el ancho máximo (si lo queremos) */
  /* padding-top:40.25%; Relación: 16/9 = 56.25% */
  /* position:relative; */
  /* } */
  /* El iframe se adapta al tamaño del contenedor */
  /* iframe{
  position:absolute;
  height:100%;
  width:100%;
  top:0px;
  left:0px;
  } */ */

  .img-hover-zoom {
    /* height: 200px; */
    overflow: hidden; 
    border-radius: 4px;
  }
.img-hover-zoom img{
    transition: transform .2s ease;
    border-radius: 10px;
}
.img-hover-zoom:hover img{
    transform: scale(1.2);   
}

.contacto{
  font-size: 20px;
  font-weight: bolder;
  text-transform: uppercase;
  color: black;
  margin-right: 20px;
  font-family: shanghai;
  letter-spacing: 5pt;
}
.btn{
  letter-spacing: 3pt;
  font-family: Arial, sans-serif;   
}
.btn:hover{
  background-color: #a85454;
  border: #a85454;
}