<div class="imagen">
    <img class="pb-5" src="assets/images/about.jpg" width="100%" >          
</div>

<div class="container">
<div class="row">
    <div class=" col-md-12 text-center text-justify pt-5">
           
        <span>Chifa "Chau Fan"</span>
         <h3>Historia de Superacion</h3>
         <p>
            Todo empezó en el año 2010 cuando el Sr. Gastón Lopez empezó con un 
            sueño emprendedor , abrir un pequeño local de comidas orientales . 
            Con un reducido comedor, un par de mesas, sillas empezó esta travesía.
            En ese comienzo “CHAUFAN” no tenía un nombre ,pero esto no fue impedimento 
            para el crecimiento ,nuestra sazón y calidad de servicio se hacía cada vez más
            fuerte.Ya a mediados de 2012 “CHAUFAN ” se hizo realidad, nuestro crecimiento
            fue admirable aumentamos en infraestructura, fama ; y nos convertimos en “CHAUFAN”.
            En pleno 2019 somos una opción preferida a nivel de Huancayo con miras a sedes en Chilca y El Tambo.
         </p>
    </div>
</div>
</div>



<div class="container">
        <div class="row"> 
                <div class="col-md-6 mt-5 text-center">
                    <span>Nuestra</span>
                        <h3>Mision</h3>
                        <p>
                            Elaborar la mejor comida con una sazón especial, utilizando
                            materia prima de buena calidad, ofrecida atreves de un excelente servicio.
                         </p>  
                </div>
                <div class="col-md-6 mt-5 text-center">
                    <div class="img-hover-zoom img-hover-zoom--xyz">
                        <img src="assets/images/historia.jpeg"  style="width: 70%;" alt="">
                    </div>
                       
                </div>
            </div>
</div>

<div class="container">
    <div class="row"> 
        <div class="col-md-6 mt-5 text-center">
            <div class="img-hover-zoom img-hover-zoom--xyz">
                <img src="assets/images/history1.png"  style="width: 70%; height: 70%;" alt="">
            </div>
                       
    </div>
        <div class="col-md-6 pt-5 pb-5 text-center">
            <span>Nuestra</span>
                <h3>Vision</h3>
                    <p>
                      Ser el mejor restaurante a nivel regional y nacional ,
                      ser reconocido y preferido por los clientes.
                    </p>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center pt-5 ">
        <span class="contacto">Comunicate con Nosotros</span>
        <a href="contact-us">
           <button type="button" class="btn btn-dark" id="butt">Contactenos</button>
        </a>    
    </div>  
</div>

