<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <strong>Mantenimiento de Reservas</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 mb-3">
            <div class="btn-group float-right" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-light"><i class="fa fa-circle text-success"></i></button>
              <button type="button" class="btn btn-light"><i class="fa fa-circle text-info"></i></button>
              <button type="button" class="btn btn-light"><i class="fa fa-circle text-danger"></i></button>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-3 mb-2" *ngFor="let i of [1,2,3,4,5,6,7]; let index = index">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Mesa {{index + 1}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Reservado</h6>
                    <p class="card-text">Detalle de venta</p>
                    <a href="#" class="card-link">Opción 1</a>
                    <a href="#" class="card-link">Opción 2</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>