
<div class="col-12 pt-3 ">
    <div class="card">
      <div class="card-header">
        Usuarios
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Grabar usuarios -->
          <div class="col-6">
            <div class="col-6 text-center">
              <h5>Registrar Usuarios</h5>
          </div>
            <div class="row">
              <div class="col-12 mt-2">
                <form #newUserForm="ngForm">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Nombres" name="names" [(ngModel)]="newUser.names" required>
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Apellidos" name="lastnames" [(ngModel)]="newUser.lastnames" required>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <div class="row">
                      <div class="col-12">
                        Escribe tu Numero de Celular
                        <div class="input-group input-group-lg">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-phone"></i>&nbsp;+ 51</span>
                          </div>
                          <input type="text" class="form-control" placeholder="999 999 999" name="phone" maxlength="9" [(ngModel)]="newUser.phone">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <div class="row">
                      <div class="col-12">Tipos de Usuario</div>
                      <div class="col-4 text-center" *ngFor="let u of userTypes">
                        <button class="btn btn-block" [ngClass]="{'btn-success': u.selected}" (click)="selectUserType(u)">
                          <i class="{{u.id}} fa-5x"></i> <br>
                          {{u.title}}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-2">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Correo Electrónico" (blur)="validateField('email')" name="email" [(ngModel)]="newUser.email" required>
                      <div class="input-group-append" *ngIf="error_email">
                        <span class="input-group-text" id="basic-addon2" title="Correo Electronico ya registrado.">
                          <i class="fa fa-times text-danger"></i>&nbsp;Correo ya registrado.
                        </span>
                      </div>
                    </div>
                    <small class="help-text text-danger" *ngIf="!email_exist">Este correo no existe.</small>
                    <small class="help-text text-info" *ngIf="searching"><i class="fa fa-spinner fa-spin"></i>&nbsp;Buscando correo</small>
                  </div>
                  <div class="form-group mt-2">
                    <div class="row">
                      <div class="col-7">
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Nombre de Usuario" (keyup)="validateField('username')" name="username" [(ngModel)]="newUser.username" required>
                          <div class="input-group-append" *ngIf="error_username">
                            <span class="input-group-text" id="basic-addon2" title="Nombre de Usuario ya registrado.">
                              <i class="fa fa-times text-danger"></i>
                            </span>
                          </div>
                        </div>
                        <small class="help-text text-danger" *ngIf="error_username">Usuario ya existe</small>
                      </div>
                      <div class="col-5">
                        <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.password" required>
                      </div>
                    </div>
                  </div>            
                </form>
              </div>
              <div class="col-12 text-center">
                <button class="btn btn-danger mr-5" *ngIf="editingUser" (click)="cancelEditUser()">
                  <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                </button>
                <button class="btn btn-success" *ngIf="editingUser" (click)="saveEditUser()">
                  <i class="fa fa-check"></i>&nbsp;Terminar Edición
                </button>
                <button class="btn btn-primary text-white" *ngIf="!editingUser" [disabled]="invalidForm(newUserForm)" (click)="singup()">
                  Registrarse
                </button>
              </div>
            </div>
          </div>
          <!-- Listar usuarios -->
          <div class="col-6">
            <ul class="list-group" style="max-height: 300px; overflow: auto;">
              <li class="list-group-item" *ngFor="let u of users; let index = index">
                <div class="row">
                  <div class="col-1 text-center">
                    <i class="{{getIcon(u)}} fa-2x"></i>
                  </div>
                  <div class="col-6">
                    <span class="badge badge-primary mr-3">{{u.username}}</span>{{u.lastnames | uppercase}}&nbsp;{{u.names | titlecase}} <br>
                    {{u.email}}
                  </div>
                  <!-- <div class="col-1 pt-2 text-center">
                    <img src="assets/{{u.gender === true ? 'male' : 'female'}}.png" width="30" height="30" alt="{{u.gender === true ? 'male' : 'female'}}">
                  </div> -->
                  <div class="col-3 text-right">
                    <button class="btn btn-info" (click)="editUser(u)">
                      <i class="fa fa-edit"></i>
                    </button>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-danger" (click)="removeUser(u.id, index)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
