<div class="container">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h4> 10 productos mas vendidos</h4>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-3">
                                <strong>Desde la fecha</strong> <br>
                                <input
                                  readonly
                                  placeholder="DD-MM-AAAA"
                                  class="form-control"
                                  name="date_reservation"
                                  #dp="bsDatepicker"
                                  [minDate]="currentDate"
                                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red'}"
                                  bsDatepicker
                                  required>
                            </div>
                            <div class="col-3">
                                <strong>Hasta la fecha</strong> <br>
                                <input
                                  readonly
                                  placeholder="DD-MM-AAAA"
                                  class="form-control"
                                  name="date_reservation"
                                  #dp="bsDatepicker"
                                  [minDate]="currentDate"
                                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red'}"
                                  bsDatepicker
                                  required>
                            </div> 
                            <div class="col-5 mt-4 ">
                                <button class="btn btn-primary" (click)="saveProduct()" >
                                    <i class="fa fa-search"></i>&nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="mt-2">
                    <table class="table" >
                    <thead>
                        <tr>
                        <th scope="col">Nombre </th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio unitario</th>
                        <th scope="col">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>fsdfsd</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <h4>Clientes mas frecuentes</h4>
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="row">
                            <div class="col-3">
                                <strong>Desde la fecha</strong> <br>
                                <input
                                  readonly
                                  placeholder="DD-MM-AAAA"
                                  class="form-control"
                                  name="date_reservation"
                                  #dp="bsDatepicker"
                                  [minDate]="currentDate"
                                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red'}"
                                  bsDatepicker
                                  required>
                            </div>
                            <div class="col-3">
                                <strong>Hasta la fecha</strong> <br>
                                <input
                                  readonly
                                  placeholder="DD-MM-AAAA"
                                  class="form-control"
                                  name="date_reservation"
                                  #dp="bsDatepicker"
                                  [minDate]="currentDate"
                                  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red'}"
                                  bsDatepicker
                                  required>
                            </div> 
                            <div class="col-5 mt-4 ">
                                <button class="btn btn-primary" (click)="saveProduct()" >
                                    <i class="fa fa-search"></i>&nbsp;Buscar
                                </button>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="mt-2">
                    <table class="table" >
                    <thead>
                        <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">tefefono</th>
                        <th scope="col">Cantidad de reservas</th>
                        <th scope="col">Morto de reserva</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>fsdfsd</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>    
        
    </div>
</div>




