<div class="form-row">
  <div class="col-2">
    <div class="row">
      <div class="col-3 mt-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link hand" [ngClass]="{'active': m.selected}" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true" *ngFor="let m of menu" (click)="selectItem(m)">{{m.name | uppercase}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active"  id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <div class="row" *ngIf="itemSelected.id === 'reservation'">
          <div class="col-9 mt-3">
            <h1 class="display-4" style="font-size: 20px;">Reservas</h1><br>
          </div>
          <div class="col-3 mt-3 text-right">
            <span class="text-danger hand" (click)="logout()">Cerrar Sesión</span>
          </div>
          <!-- Reservas -->
          <div class="col-12 mt-2">
            <div class="form-row">
              <div class="col-3">
                <div class="card bg-light mb-3 hand" (click)="addSale()">
                  <div class="card-header">Nueva Reservación</div>
                  <div class="card-body">
                    <h5 class="card-title">Click Aqui</h5>
                    <p class="card-text">Necesitaras añadir nuevos platos.</p>
                  </div>
                </div>
              </div>
              <div class="col-3" *ngFor="let r of reservations">
                <div class="card" [ngClass]="{'text-white bg-primary': r.status === 'A', 'text-white bg-success': r.status === 'R', 'text-white bg-danger': r.status === 'X'}">
                  <div class="card-header ">
                    <div class="row">
                      <div class="col-6" style="font-size: 20px; font-weight: 700;">
                        Mesa: {{r.table_id}}
                      </div>
                      <div class="col-6 text-right">
                        2020.00100{{r.id}}
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        #<strong style="font-size: 40px;">{{r.products.length}}</strong> <br>
                      </div>
                      <div class="col-6 text-right" style="font-size: 35px;">
                        {{r.status}}
                      </div>
                    </div>
                  </div>
                  <div class="card-footer" *ngIf="r.status !== 'X'">
                    <div class="row">
                      <div class="col-9">
                        <button class="btn btn-light rounded-circle mr-3">
                          <i class="fa fa-times text-danger"></i>
                        </button>
                        <button class="btn btn-light rounded-circle" *ngIf="r.status !== 'R'">
                          <i class="fa fa-dollar text-primary"></i>
                        </button>
                      </div>
                      <div class="col-3 text-right">
                        S/&nbsp;{{r.total_amount | number: '1.2-2'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- detalle de reservas -->
        </div>
      </div>
      <div class="row" *ngIf="itemSelected.id === 'management' && !userLoged.isAdmin">
        <div class="col-12">
          <h1 class="text-danger display-4 text-center" style="font-size: 28px;">
            <i class="fa fa-times"></i><br>No tienes permisos para realizar cambios en el mantenimiento del sistema.
          </h1>
        </div>
      </div>
      <div class="row" *ngIf="itemSelected.id === 'management' && userLoged.isAdmin">
        <div class="col-9 mt-3">
          <h1 class="display-4" style="font-size: 20px;">Administración de Colecciones</h1>
        </div>
        <div class="col-3 mt-3 text-right">
          <span class="text-danger hand" (click)="logout()">Cerrar Sesión</span>
        </div>
        <!-- PRODUCTOS -->
        <div class="col-12 mt-1">
          <div class="card">
            <div class="card-header">
              Productos
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <form #newProductForm="ngForm" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-12 mb-2">
                        <input type="text" class="form-control" name="name" [(ngModel)]="newProduct.name" placeholder="Producto" required> <br>
                        <textarea name="description" class="form-control" [(ngModel)]="newProduct.description" cols="30" rows="2" style="resize: none;" placeholder="Describa el producto brevemente"></textarea>
                      </div>
                      <div class="col-12 mb-2">
                        <select name="category" id="" class="form-control" [(ngModel)]="newProduct.category_id" required>
                          <option selected [ngValue]="undefined">--SELECCIONE--</option>
                          <option *ngFor="let c of categories" value="{{c.id}}">{{c.name | uppercase}}</option>
                        </select>
                      </div>
                      <div class="col-12 mb-2">
                        <input type="number" name="unit_price" id="" class="form-control" placeholder="0.00" [(ngModel)]="newProduct.unit_price" required>
                      </div>
                      <div class="col-12 mb-2">
                        <input type="file" id="photo" required>
                      </div>
                      <div class="col-12 mb-2 text-center" >
                        <button class="btn btn-danger mr-5" (click)="cancelEditProduct()" *ngIf="editingProduct">
                          <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                        </button>
                        <button class="btn btn-success" (click)="saveEditProduct()"  *ngIf="editingProduct">
                          <i class="fa fa-check"></i>&nbsp;Terminar Edición
                        </button>
                        <button class="btn btn-primary" (click)="saveProduct()" *ngIf="!editingProduct">
                          <i class="fa fa-save"></i>&nbsp;Guardar Producto
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-6">
                  <ul class="list-group" style="max-height: 400px; overflow: auto;">
                    <li class="list-group-item" *ngFor="let p of products; let index = index">
                      <div class="row">
                        <div class="col-4">
                          <img src="http://localhost:3000/static/products/{{p.photo}}" style="width: 80px; height: 80px;" alt="{{p.name}}">
                        </div>
                        <div class="col-5">
                          {{p.name | uppercase}} <br>
                          <span class="badge badge-danger">{{p.unit_price | number:'1.2-2'}}</span>
                        </div>
                        <div class="col-3">
                          <button class="btn btn-primary mr-3" (click)="editProduct(p)"><i class="fa fa-pencil"></i></button>
                          <button class="btn btn-danger" (click)="removeProduct(p.id, index)"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- USUARIOS -->
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header">
              Usuarios
            </div>
            <div class="card-body">
              <div class="row">
                <!-- Grabar usuarios -->
                <div class="col-6">
                  <div class="row">
                    <div class="col-12 mt-2">
                      <form #newUserForm="ngForm">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-6">
                              <input type="text" class="form-control" placeholder="Nombres" name="names" [(ngModel)]="newUser.names" required>
                            </div>
                            <div class="col-6">
                              <input type="text" class="form-control" placeholder="Apellidos" name="lastnames" [(ngModel)]="newUser.lastnames" required>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mt-2">
                          <div class="row">
                            <div class="col-12">
                              Escribe tu Numero de Celular
                              <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-phone"></i>&nbsp;+ 51</span>
                                </div>
                                <input type="text" class="form-control" placeholder="999 999 999" name="phone" [(ngModel)]="newUser.phone">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mt-2">
                          <div class="row">
                            <div class="col-12">Tipos de Usuario</div>
                            <div class="col-4 text-center" *ngFor="let u of userTypes">
                              <button class="btn btn-block" [ngClass]="{'btn-success': u.selected}" (click)="selectUserType(u)">
                                <i class="{{u.id}} fa-5x"></i> <br>
                                {{u.title}}
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="form-group mt-2">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Correo Electrónico" (blur)="validateField('email')" name="email" [(ngModel)]="newUser.email" required>
                            <div class="input-group-append" *ngIf="error_email">
                              <span class="input-group-text" id="basic-addon2" title="Correo Electronico ya registrado.">
                                <i class="fa fa-times text-danger"></i>&nbsp;Correo ya registrado.
                              </span>
                            </div>
                          </div>
                          <small class="help-text text-danger" *ngIf="!email_exist">Este correo no existe.</small>
                          <small class="help-text text-info" *ngIf="searching"><i class="fa fa-spinner fa-spin"></i>&nbsp;Buscando correo</small>
                        </div>
                        <div class="form-group mt-2">
                          <div class="row">
                            <div class="col-7">
                              <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nombre de Usuario" (keyup)="validateField('username')" name="username" [(ngModel)]="newUser.username" required>
                                <div class="input-group-append" *ngIf="error_username">
                                  <span class="input-group-text" id="basic-addon2" title="Nombre de Usuario ya registrado.">
                                    <i class="fa fa-times text-danger"></i>
                                  </span>
                                </div>
                              </div>
                              <small class="help-text text-danger" *ngIf="error_username">Usuario ya existe</small>
                            </div>
                            <div class="col-5">
                              <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.password" required>
                            </div>
                          </div>
                        </div>            
                      </form>
                    </div>
                    <div class="col-12 text-center">
                      <button class="btn btn-danger mr-5" *ngIf="editingUser" (click)="cancelEditUser()">
                        <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                      </button>
                      <button class="btn btn-success" *ngIf="editingUser" (click)="saveEditUser()">
                        <i class="fa fa-check"></i>&nbsp;Terminar Edición
                      </button>
                      <button class="btn btn-primary text-white" *ngIf="!editingUser" [disabled]="invalidForm(newUserForm)" (click)="singup()">
                        Registrarse
                      </button>
                    </div>
                  </div>
                </div>
                <!-- Listar usuarios -->
                <div class="col-6">
                  <ul class="list-group" style="max-height: 300px; overflow: auto;">
                    <li class="list-group-item" *ngFor="let u of users; let index = index">
                      <div class="row">
                        <div class="col-1 text-center">
                          <i class="{{getIcon(u)}} fa-2x"></i>
                        </div>
                        <div class="col-6">
                          <span class="badge badge-primary mr-3">{{u.username}}</span>{{u.lastnames | uppercase}}&nbsp;{{u.names | titlecase}} <br>
                          {{u.email}}
                        </div>
                        <div class="col-1 pt-2 text-center">
                          <img src="assets/{{u.gender === true ? 'male' : 'female'}}.png" width="30" height="30" alt="{{u.gender === true ? 'male' : 'female'}}">
                        </div>
                        <div class="col-3 text-right">
                          <button class="btn btn-info" (click)="editUser(u)">
                            <i class="fa fa-edit"></i>
                          </button>
                        </div>
                        <div class="col-1">
                          <button class="btn btn-danger" (click)="removeUser(u.id, index)"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MESAS -->
        <div class="col-12 mt-3">
          <div class="card">
            <div class="card-header">
              Mesas
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <form #newTableForm="ngForm">
                        <div class="form-row">
                          <div class="col-4">
                            <input type="text" name="name" placeholder="Mesa xx" [(ngModel)]="newTable.name" class="form-control form-control-sm text-uppercase" required>
                          </div>
                          <div class="col-1">
                            <input type="number" name="number" placeholder="00" [(ngModel)]="newTable.number" class="form-control form-control-sm text-uppercase" required>
                          </div>
                          <div class="col-7">
                            <div class="col-12 mb-2">
                              <input type="file" id="tablePhoto" required>
                            </div>
                          </div>
                          <div class="col-12 text-center">
                            <button class="btn btn-danger btn-sm mr-5" (click)="cancelEditTable()" *ngIf="editingTable">
                              <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                            </button>
                            <button class="btn btn-success btn-sm" [disabled]="newTableForm.invalid" *ngIf="editingTable" (click)="saveEditTable()">
                              <i class="fa fa-pencil"></i>&nbsp;Terminar Edición
                            </button>
                            <button class="btn btn-primary btn-sm " [disabled]="newTableForm.invalid" *ngIf="!editingTable" (click)="saveTable()">
                              <i class="fa fa-save"></i>&nbsp;Guardar
                            </button>
                          </div>
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let table of tables; let index = index">
                      <div class="row">
                        <div class="col-4">
                          <img width="150" height="40" src="http://localhost:3000/static/tables/{{table.photo}}" alt="">
                        </div>
                        <div class="col-5">
                          {{table.name | uppercase}}&nbsp;{{table.number}}
                        </div>
                        <div class="col-3 text-right">
                          <button class="btn btn-primary mr-2" (click)="editTable(table)"><i class="fa fa-pencil"></i></button>
                          <button class="btn btn-danger" (click)="removeTable(table.id, index)"><i class="fa fa-trash"></i></button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #newSaleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        Nueva Venta
      </div>
    </div>
  </div>  
</div>  