
  .menu{
    height: 20px;
  }
  .navbar-collapse{
      padding-left: 10%;
  }
  
  .nav-link{
      margin-left: 10px;
      
  }
  #menu  {
      text-transform:uppercase;
      letter-spacing: 5pt;
      color: black;
      font-family: Arial,sans-serif;
      font-size: 14px;
  }
  
 

  
  /* login dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    opacity: 0.9;
  }
  
  .dropdown {
    float: right;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}

  
  /* Dropdown Button */
.dropbtn {
  background-color: #f4f6f6;;
  color: white;
  padding: 13px;
  font-size: 13px;
  border: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
  
  
  
  .footer{
      background: #222222;
      color:white;
    }
  h4{
    font-family: shanghai;
    letter-spacing: 5pt;
  }
  p{
    font-family: Arial,sans-serif;
    letter-spacing: 3pt;
    font-size: 13px;
  }
    .links  a :hover {
        list-style-type:none;
        color:#a85454;
        transition: color .2s;
        text-decoration:none;
    }
    a{
      color: white;
    }  
    .about-company {
      /* font-size: 15px; */
      color:white;
      transition: color .2s;
   
    }
  
    .location i {
      font-size: 18px;
    }