<div class="container-fluid">

 <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light pb-4 pt-4" style="opacity: 0.9;" >
    <a class="navbar-brand" href="welcome">
      <!-- <img src="assets/images/logo.png"  alt="logo"> -->
      <img  src="assets/logo.png" width="180" height="30" class="d-inline-block align-top" alt="Chifa Chaufan" >
    </a>
    <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" id="menu" >
          <a class="nav-link" href="welcome">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hand" id="menu" (click)="openModal(template) ">Reservar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="menu" href="about-us">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="menu"  href="contact-us">Contactenos</a>
        </li>
      </ul>
  
      <ul class="nav navbar-nav navbar-right">
        <li  class="nav-item">
          <a class="nav-link" href="https://web.facebook.com/ChinesseFoodChaufan/">
            <i class="fa fa-facebook" ></i> Facebook
          </a>
        </li>
        <li  class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/channel/UCytVb-D6TAIle-oLiNQELvQ/featured">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>YouTube</a>
        </li>
        <li  class="nav-item">
          <a class="nav-link hand" href="#" (click)="openModal(template) ">
            <i class="fa fa-user  mr-2" aria-hidden="true"></i>Admin</a>
        </li>
      </ul>


      <div class="dropdown" style="margin-right: 30px;">
        <button class="dropbtn"><i class="fa fa-user-circle"  aria-hidden="true" style="color: black; font-size: 20px;"></i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa fa-user  mr-2"></i>Iniciar Sesion</a>
          <a class=" hand"  (click)="logout()" ><i class="fa fa-power-off  mr-2  "></i>Cerrar Sesion</a>

        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <div class="mt-5 pt-5 pb-5 footer">
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-xs-12 location">
              <h4 class="mt-lg-0 mt-sm-4">Contactenos</h4>
              <p class="mb-0"><i class=" fa fa-map-marker mr-3"></i>
                Paseo la breña N° 527 - Huancayo</p>
              <p class="mb-0"><i class="fa fa-phone mr-3"></i>(+51) 964050503</p>
              <p><i class="fa fa-envelope-o mr-3"></i>chifachaufan@gmail.com</p>
            </div>
        <div class="col-lg-5 col-xs-12 about-company">
          <h4>Horario de Atención</h4>
          <p class="pr-5 text-white-50">Hora de atención: 12:00 PM – 11:00 PM <br> 
            Lunes a Domingos</p>
        </div>

        
        <div class="col-lg-3 col-xs-12 links">
          <!-- <h4 class="mt-lg-0 mt-sm-3">Links</h4> -->
          <h4>Siguenos en</h4>
            <a href="https://web.facebook.com/ChinesseFoodChaufan/"><i class="fa fa-facebook mr-2"></i></a>
              <a href="https://www.youtube.com/channel/UCytVb-D6TAIle-oLiNQELvQ/"><i class="fa fa-youtube-play mr-2"></i></a>
              <a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp mr-2"></i></a>
        </div> 
      </div>
    </div>
    </div>
</div>  



<ng-template #template>
  <div class="modal-body">
    <div class="row">
      <div class="col-8 offset-2 text-center" >
        <h3 class="display-3" style="font-size: 30px;" *ngIf="forgotPassword">Reiniciar contraseña</h3>
        <div class="btn-group" role="group" aria-label="Basic example" *ngIf="!forgotPassword">
          <button type="button" class="btn btn-light text-info" [ngClass]="{'active': button.active}" (click)="selectButton(button)" *ngFor="let button of buttons">{{button.title}}</button>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12" *ngIf="buttonSelected.id === 'login'">
        <div class="row">
          <div class="col-12">
            <i class="fa fa-3x" [ngClass]="{'fa-signin': !forgotPassword, 'fa-tools': forgotPassword}"></i>
          </div>
          <!-- Login -->
          <div class="col-12 mt-3" *ngIf="!forgotPassword">
            <form #loginForm="ngForm">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario o Correo Electrónico" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="username" required>
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="********" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="password" required>
              </div>
              <div class="alert mt-3 alert-danger text-center" *ngIf="error">
                <i class="fa fa-exclamation-triangle"></i>&nbsp;{{error.message}}
              </div>
              <div class="text-right">
                <span class="text-info hand" (click)="forgotPasswordSelected()">¿Olvidaste tu Contraseña?</span>
              </div>
              <button class="btn btn-info mt-2 btn-block text-white" [disabled]="loginForm.invalid" (click)="login()">
                <i class="fa" [ngClass]="{'fa-check': !logining, 'fa-spinner fa-spin': logining}"></i>&nbsp;Iniciar Sesión
              </button>
              <hr>
              <button class="btn btn-primary btn-block text-white" (click)="loginWithGoogle()">
                Iniciar con tu cuenta de Google
              </button>
            </form>
          </div>
          <!-- Forgot Password -->
          <div class="col-12 mt-3" *ngIf="forgotPassword">
            <div class="alert alert-info">
              <i class="fa fa-exclamation"></i>&nbsp;Indica los campos seleccionados para reiniciar tu contraseña.
            </div>
            <form #forgotPasswordForm="ngForm">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-paper-plane"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="micorreo@gmail.com" name="email" [(ngModel)]="forgotPassword.email" required>
                </div>
                <p class="text-dark-50">Se te enviara un correo para confirmar el cambio de Contraseña.</p>
              </div>
              <div class="form-row">
                <div class="col-3">
                  <button class="btn btn-light text-danger" (click)="cancelForgotPassword()">Cancelar</button>
                </div>
                <div class="col-9 text-right">
                  <button class="btn btn-light" (click)="sendConfirmation()">
                    <i class="fa fa-cog"></i>&nbsp;Reiniciar Contraseña
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="buttonSelected.id === 'singup'">
        <div class="row">
          <div class="col-12">
            <i class="fa fa-signin fa-3x"></i>
          </div>
          <div class="col-12 mt-2">
            <form #singupForm="ngForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Nombres" name="names" [(ngModel)]="newUser.names" required>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Apellidos" name="lastnames" [(ngModel)]="newUser.lastnames" required>
                  </div>
                </div>
              </div>
              <div class="form-group mt-2">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group input-group-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-phone"></i>&nbsp;+ 51</span>
                      </div>
                      <input type="text" class="form-control" (keypress)="validateNumbers($event)" aria-label="phone" name="phone" maxlength="9" placeholder="999 999 999" [(ngModel)]="newUser.phone">
                    </div>
                    <span class="help-text text-info float-right">Ingresa tu Nro de celular o de un familiar cercano</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-2">
                <div class="col-7">
                  <div class="input-group">
                    <!-- pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" -->
                    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Correo Electrónico" (blur)="validateField('email', singupForm)" name="email" [(ngModel)]="newUser.email" required>
                    <div class="input-group-append" *ngIf="error_email">
                      <span class="input-group-text" id="basic-addon2" title="Correo Electronico ya registrado.">
                        <i class="fa fa-times text-danger"></i>
                      </span>
                    </div>
                  </div>
                  <small class="help-text text-danger" *ngIf="!email_exist"></small>
                  <small class="help-text text-info" *ngIf="searching && fieldToValidate === 'email'"><i class="fa fa-spinner fa-spin"></i>&nbsp;Buscando correo</small>
                </div>
                <div class="col-5">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nombre de Usuario" (keyup)="validateField('username')" name="username" [(ngModel)]="newUser.username" required>
                    <div class="input-group-append" *ngIf="error_username">
                      <span class="input-group-text" id="basic-addon2" title="Nombre de Usuario ya registrado.">
                        <i class="fa fa-times text-danger"></i>
                      </span>
                    </div>
                  </div>
                  <small class="help-text text-danger" *ngIf="error_username">Usuario ya existe</small>
                </div>
              </div>
              <div class="form-group mt-2">
                <div class="row">
                  <div class="col-6">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.password" required>
                  </div>
                  <div class="col-6">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.confirmPassword" required>
                    <span class="help-text text-danger" *ngIf="newUser.password !== newUser.confirmPassword">Las contraseñas no coinciden.</span>
                  </div>
                </div>
              </div>            
            </form>
          </div>
          <div class="col-6 offset-3">
            <button class="btn btn-primary btn-block text-white" [disabled]="invalidForm(singupForm) || newUser.password !== newUser.confirmPassword" (click)="singup()">
              Registrarse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- 
<div class="container-fluid">
  

</div> -->

