<div class="row">
  <div class="col-12 pt-2">
    <div class="card">
      <div class="card-header">
        Productos
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="col-6 text-center">
              <h5>Registrar Productos</h5>
            </div>
            <form #newProductForm="ngForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-12 mb-2">
                  <input type="text" class="form-control" name="name" [(ngModel)]="newProduct.name" placeholder="Producto" required> <br>
                  <textarea name="description" class="form-control" [(ngModel)]="newProduct.description" cols="30" rows="2" style="resize: none;" placeholder="Describa el producto brevemente"></textarea>
                </div>
                <div class="col-12 mb-2">
                  <select name="category" id="" class="form-control" [(ngModel)]="newProduct.category_id" required>
                    <option selected [ngValue]="undefined">--SELECCIONE--</option>
                    <option *ngFor="let c of categories" value="{{c.id}}">{{c.name | uppercase}}</option>
                  </select>
                </div>
                <div class="col-12 mb-2">
                  <input type="number" name="unit_price" id="" class="form-control" placeholder="0.00" [(ngModel)]="newProduct.unit_price" required>
                </div>

                <div class="col-12 mb-2">
                  <input type="file" id="photo" *ngIf="!newProduct.photo" required>
                  <div class="row" *ngIf="newProduct.photo">
                    <div class="col-5">
                      <img width="100" height="60" src="http://206.189.173.158:3000/static/products/{{newProduct.photo}}" alt="">
                    </div>
                    <div class="col-7">
                      <button class="btn btn-danger" (click)="deletePhoto()"><i class="fa fa-times"></i>&nbsp;Eliminar Foto</button>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 mb-2 text-center">
                  <button class="btn btn-danger mr-5" (click)="cancelEditProduct()" *ngIf="editingProduct">
                    <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                  </button>
                  <button class="btn btn-success" (click)="saveEditProduct()" [disabled]="newProductForm.invalid" *ngIf="editingProduct">
                    <i class="fa fa-check"></i>&nbsp;Terminar Edición
                  </button>
                  <button class="btn btn-primary" (click)="saveProduct()" *ngIf="!editingProduct">
                    <i class="fa fa-save"></i>&nbsp;Guardar Producto
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div class="col-6 text-center">
              <h5>Listado de Productos</h5>
            </div>
            <ul class="list-group" style="max-height: 400px; overflow: auto;">
              <li class="list-group-item" *ngFor="let p of products; let index = index">
                <div class="row">
                  <div class="col-4">
                    <img src="http://206.189.173.158:3000/static/products/{{p.photo}}" style="width: 80px; height: 80px;" alt="{{p.name}}">
                  </div>
                  <div class="col-5">
                    {{p.name | uppercase}} <br>
                    <span class="badge badge-danger">{{p.unit_price | number:'1.2-2'}}</span>
                  </div>
                  <div class="col-3">
                    <button class="btn btn-primary mr-3" (click)="editProduct(p)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" (click)="removeProduct(p.id, index)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
