<div class="row">
    <div class="col-md-2 menu" style="background-color:#fff" *ngIf="userLoged !== null">
        <!-- <div>
            <a class="navbar-brand" [routerLink]="['/welcome']">
                <img src="assets/logo.png" width="236" height="51" class="d-inline-block align-top" alt="Chifa Chau fan">
            </a>
            <hr>
        </div> -->
        <div class="text-left pt-4"  >
            <ul>
                <li class=" mt-5">
                    <h4 >
                        Reservas
                    </h4>
                    <div class="pt-3">
                        <a routerLink="reservation" >
                            <i class="fa fa-calendar" ></i><span class="pl-3">Detalles Reservas</span>
                        </a>
                    </div >
                </li>
                <li class=" mt-4" *ngIf="userLoged.isAdmin">
                    <h4>
                        Productos
                    </h4>
                    <div class="pt-3">
                        <a routerLink="product">
                            <i class="fa fa-cutlery"></i> <span class="pl-3" >Gestionar Productos</span>
                        </a>
                    </div>
                </li>

                <!-- <div class="pt-3">
                    <span>
                        Productos
                    </span>
                    <li class="pt-3">
                        <a [routerLink]="['product']">
                            <i class="fa fa-cutlery"></i>
                            <span   class="ml-3">Gestionar Productos</span>
                        </a>
                    </li>
                </div> -->
                <li class=" mt-4" *ngIf="userLoged.isAdmin">
                    <h4>
                        Mesas
                    </h4>
                    <div class="pt-3">
                        <a routerLink="table">
                            <i class="fa fa-table"></i> <span class="pl-3">Gestionar Mesas</span>
                        </a>
                    </div>
                </li>
                <li class=" user mt-4" *ngIf="userLoged.isAdmin">
                    <h4>
                        Usuarios
                    </h4>
                    <div class="pt-3">
                        <a routerLink="user">
                            <i class="fa fa-user"></i> <span class="pl-3"> Gestionar Usuarios</span>
                        </a>
                    </div>
                </li>
                <!-- <li class=" reports mt-4" *ngIf="userLoged.isAdmin">
                    <h4>
                        Reportes
                    </h4>
                    <div class="pt-3">
                        <a routerLink="reports">
                            <i class="fa fa-pie-chart"></i> <span class="pl-3">Todos los reportes</span>
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>     
    <div class="col-md-10" id="cabecera" style="background-color: #fff; height: 70px;opacity: 0.9;">
        
        <div class="row">
            <div class="col-md-12 mb-5" style=" margin-top: 55px;">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
      

    <!-- <div class="dropdown" style="margin-right: 30px;">
        <button class="dropbtn"><i class="fa fa-user-circle"  aria-hidden="true" style="color: black; font-size: 20px;"></i></button>
        <div class="dropdown-content">
          <a href="#"><i class="fa fa-user  mr-2"></i>Iniciar Sesion</a>
          <a class=" hand"  (click)="logout()" ><i class="fa fa-power-off  mr-2  "></i>Cerrar Sesion</a> -->

</div>


