<div class="row">
  <div class="col-12">
    <carousel>
      <slide *ngFor="let slide of slides">
        <img src="assets/images/{{slide.image}}" alt="{{slide.alt}}" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h1>{{slide.title}}</h1>
          <h2>{{slide.description}}</h2>
          <a class="btn btn-light text-info" (click)="openModal(template)">
            <i class="fa fa-check"></i>&nbsp;Reservar
          </a>  
        </div>
      </slide>
    </carousel>
  </div>
  <!-- ============= -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-7">
        <span class="bienvenido">
          Bienvenidos al 
        </span>
        <h3>Restaurante "Chifa Chau Fan"</h3>
        <p>Todo empezó en el año 2010 cuando el Sr. Gastón Lopez empezó con un sueño emprendedor , abrir un pequeño local de comidas orientales .
           Con un reducido comedor, un par de mesas, sillas empezó esta travesía</p>
           <a href="about-us">Nuestra Historia de Superacion
              <i class="fa fa-arrow-right ml-3" aria-hidden="true"></i>
              
           </a>
           
      </div>
      <div class="col-sm-5">
        <div class="img-hover-zoom img-hover-zoom--xyz">
            <img src="assets/images/history1.png" style="width: 100%;" alt="">
        </div>
      </div>
      
    </div>
  </div>

<!-- menu -->

  <!-- <div class="col-12 mt-3">
    <div class="row">
      <div class="col-12 text-center pt-5 pb-5">
        <span class="bienvenido">
          Descubre
        </span>
        <h3>Nuestro Menu</h3>
      </div>
      <div class="col-lg-3 mb-2" *ngFor="let menu of menus">
        <div class="card">
          <img src="assets/images/{{menu.image}}" height="260" class="card-img-top" alt="{{menu.name}}">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                  <h5 class="card-title">{{menu.name}}&nbsp;<span class="badge badge-dark">S/&nbsp;{{menu.price | number:'1.2-2'}}</span></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<div class="container">
  <p class="buffets pt-5 pb-3">
    Buffets de Comida China
  </p>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 shadow-sm">
    <div class="card-header" style="font-size: 10px;">
      <h4>CHAUFA DE POLLO</h4>
   </div>
<img src="https://decomidaperuana.com/wp-content/uploads/2018/05/como-preparar-arroz-chaufa.jpg" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 8.00</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li style="text-align: justify; letter-spacing: 3pt;"> Nuestro clasico arroz chaufa a escoger de pollo, carne o Cerdo</li>
      </ul>
    </div>  
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4>AEROPUERTO</h4>
    </div>
    <img src="assets/images/aeropuerto1.png" style="width: 100%;">
    <div class="card-body">
      <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 10.00</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li style="text-align: justify; letter-spacing: 3pt;">A su elección de la comida de Aeropuerto de pollo, carne o cerdo. </li>
      </ul>
    </div>
  </div>

  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4>CHAUFA CON LOMO</h4>
    </div>
    <img src="assets/images/lomo1.jpg" style="width: 100%; height: 48%;">
    <div class="card-body">
      <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 11.00</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li style="text-align: justify; letter-spacing: 3pt;">Nuestro Chaufa con tallarín salteado de pollo, res o cerdo</li>
      </ul>
      
    </div>
  </div>

</div>

<div class="card-deck mb-3 text-center">
<div class="card mb-4 shadow-sm">
  <div class="card-header" style="font-size: 10px;">
    <h4>CHAUFA CON PIÑA</h4>
 </div>
<img src="assets/images/pina.jpg" style="width: 100%;">
  <div class="card-body">
    <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 13.00</h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li style="text-align: justify; letter-spacing: 3pt;">Nuestro sabroso pollo con piña acompañado de arroz chaufa de pollo o arroz blanco</li>
    </ul>
  </div>  
</div>

<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4>CHAUFA CON CHIJAUKAY</h4>
  </div>
  <img src="assets/images/chijaukay.jpg" style="width: 100%; height: 42%;">
  <div class="card-body">
    <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 10.00</h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li style="text-align: justify; letter-spacing: 3pt;">Nuestro delicioso pollo chijaukay acompañado de arroz chaufa de pollo o arroz blanco. </li>
    </ul>
  </div>
</div>

<div class="card mb-4 shadow-sm">
  <div class="card-header">
    <h4>TALLARIN DE POLLO</h4>
  </div>
  <img src="assets/images/tallarin.jpg" style="width: 100%; height: 40%;">
  <div class="card-body">
    <h1 class="card-title pricing-card-title" style="color: #a85454; font-size: 25px;">S/ 8.00</h1>
    <ul class="list-unstyled mt-3 mb-4">
      <li style="text-align: justify; letter-spacing: 3pt;">Nuestro delicioso tallarín de pollo salteado a gusto del cliente</li>
    </ul>
    
  </div>
</div>
</div>

</div>

<!-- video -->
<!-- <div class="video" >
  <div class="col-12 text-center pt-5 pb-5">
      <span class="bienvenido">
        Disfruta de 
      </span>
      <h3>Nuestro Video</h3>
    </div>
    <video loop="loop" poster="assets/images/history1.jpg" width="100%"  controls="">
      <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
      <source src="./static/media/fast-video.webm" type="video/webm">
    </video>
</div> -->

<div class="container">


  <div class="video">      
    <div class="col-md-12 text-center pt-5 pb-5">
      <span class="bienvenido">
        Disfruta de 
      </span>
      <h3>Nuestro Video</h3>
      <div class="row">
        <div class="col-md-6 pt-5">
          <video loop="loop" poster="assets/images/history1.png" width="100%"  controls="">
            <source src="assets/images/video.mp4"  type="video/mp4" >
            <source src="./static/media/fast-video.webm" type="video/webm">
          </video>
        </div>
        <div class="col-md-6 pt-5">
          <span style="font-weight: bold; font-size: 20px; letter-spacing: 3pt; font-family: Arial, sans-serif;">
            BREVE DESCRIPCION <br>
          </span>
          <p class="pt-3" style="letter-spacing: 3pt;">
            Disfruta de Nuestro video, daremos a conocer como inicio la empresa Chifa Chau Fan, que platillos ofrecemos a nuestros clientes,
            cuales son nuestros anhelos como empresa, a la vez disfrutaras de como se realiza  el Arroz Chaufa sabiendo que son nuestras especialidades,
            espero que les guste.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>

    <!-- nosotros -->

<div class="row">
  <div class="col-12 text-center pt-5 pb-5">
      <span class="contacto">Comunicate con Nosotros</span>
      <a href="contact-us">
        <button type="button" class="btn btn-dark" id="butt">Contactenos</button>
      </a>    
  </div>  
</div>


<ng-template #template>
  <div class="modal-body">
    <div class="row">
      <div class="col-8 offset-2 text-center" >
        <h3 class="display-3" style="font-size: 30px;" *ngIf="forgotPassword">Reiniciar contraseña</h3>
        <div class="btn-group" role="group" aria-label="Basic example" *ngIf="!forgotPassword">
          <button type="button" class="btn btn-light text-info" [ngClass]="{'active': button.active}" (click)="selectButton(button)" *ngFor="let button of buttons">{{button.title}}</button>
        </div>
      </div>
      <div class="col-2">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-12" *ngIf="buttonSelected.id === 'login'">
        <div class="row">
          <div class="col-12">
            <i class="fa fa-3x" [ngClass]="{'fa-signin': !forgotPassword, 'fa-tools': forgotPassword}"></i>
          </div>
          <!-- Login -->
          <div class="col-12 mt-3" *ngIf="!forgotPassword">
            <form #loginForm="ngForm">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario o Correo Electrónico" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="username" required>
              </div>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="********" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="password" required>
              </div>
              <div class="alert mt-3 alert-danger text-center" *ngIf="error">
                <i class="fa fa-exclamation-triangle"></i>&nbsp;{{error.message}}
              </div>
              <div class="text-right">
                <span class="text-info hand" (click)="forgotPasswordSelected()">¿Olvidaste tu Contraseña?</span>
              </div>
              <button class="btn btn-info mt-2 btn-block text-white" [disabled]="loginForm.invalid" (click)="login()">
                <i class="fa" [ngClass]="{'fa-check': !logining, 'fa-spinner fa-spin': logining}"></i>&nbsp;Iniciar Sesión
              </button>
              <hr>
              <button class="btn btn-primary btn-block text-white" (click)="loginWithGoogle()">
                Iniciar con tu cuenta de Google
              </button>
            </form>
          </div>
          <!-- Forgot Password -->
          <div class="col-12 mt-3" *ngIf="forgotPassword">
            <div class="alert alert-info">
              <i class="fa fa-exclamation"></i>&nbsp;Indica los campos seleccionados para reiniciar tu contraseña.
            </div>
            <form #forgotPasswordForm="ngForm">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">
                      <i class="fa fa-paper-plane"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="micorreo@gmail.com" name="email" [(ngModel)]="forgotPassword.email" required>
                </div>
                <p class="text-dark-50">Se te enviara un correo para confirmar el cambio de Contraseña.</p>
              </div>
              <div class="form-row">
                <div class="col-3">
                  <button class="btn btn-light text-danger" (click)="cancelForgotPassword()">Cancelar</button>
                </div>
                <div class="col-9 text-right">
                  <button class="btn btn-light" (click)="sendConfirmation()">
                    <i class="fa fa-cog"></i>&nbsp;Reiniciar Contraseña
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="buttonSelected.id === 'singup'">
        <div class="row">
          <div class="col-12">
            <i class="fa fa-signin fa-3x"></i>
          </div>
          <div class="col-12 mt-2">
            <form #singupForm="ngForm">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Nombres" name="names" [(ngModel)]="newUser.names" required>
                  </div>
                  <div class="col-6">
                    <input type="text" class="form-control" placeholder="Apellidos" name="lastnames" [(ngModel)]="newUser.lastnames" required>
                  </div>
                </div>
              </div>
              <div class="form-group mt-2">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group input-group-lg">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fa fa-phone"></i>&nbsp;+ 51</span>
                      </div>
                      <input type="text" class="form-control" (keypress)="validateNumbers($event)" aria-label="phone" name="phone" maxlength="9" placeholder="999 999 999" [(ngModel)]="newUser.phone" required>
                    </div>
                    <span class="help-text text-info float-right">Ingresa tu Nro de celular o de un familiar cercano</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mt-2">
                <div class="col-7">
                  <div class="input-group">
                    <!-- pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" -->
                    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="Correo Electrónico" (blur)="validateField('email', singupForm)" name="email" [(ngModel)]="newUser.email" required>
                    <div class="input-group-append" *ngIf="error_email">
                      <span class="input-group-text" id="basic-addon2" title="Correo Electronico ya registrado.">
                        <i class="fa fa-times text-danger"></i>
                      </span>
                    </div>
                  </div>
                   
                  <small class="help-text text-danger" *ngIf="!email_exist">Este correo no existe.</small>
                  <small class="help-text text-info" *ngIf="searching && fieldToValidate === 'email'"><i class="fa fa-spinner fa-spin"></i>&nbsp;Buscando correo</small>
                </div>
                <div class="col-5">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nombre de Usuario" (keyup)="validateField('username')" name="username" [(ngModel)]="newUser.username" required>
                    <div class="input-group-append" *ngIf="error_username">
                      <span class="input-group-text" id="basic-addon2" title="Nombre de Usuario ya registrado.">
                        <i class="fa fa-times text-danger"></i>
                      </span>
                    </div>
                  </div>
                  <small class="help-text text-danger" *ngIf="error_username">Usuario ya existe</small>
                </div>
              </div>
              <div class="form-group mt-2">
                <div class="row">
                  <div class="col-6">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.password" required>
                  </div>
                  <div class="col-6">
                    <label for="confirmPassword">Confirmar Contraseña</label>
                    <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)]="newUser.confirmPassword" required>
                    <span class="help-text text-danger" *ngIf="newUser.password !== newUser.confirmPassword">Las contraseñas no coinciden.</span>
                  </div>
                </div>
              </div>            
            </form>
          </div>
          <div class="col-6 offset-3">
            <button class="btn btn-primary btn-block text-white" [disabled]="invalidForm(singupForm) || newUser.password !== newUser.confirmPassword" (click)="singup()">
              Registrarse
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

