<div class="row mt-3">
  <div class="col-12 text-right">
    <button class="btn btn-primary" (click)="openModal('newReservation')">
      <i class="fa fa-plus"></i>&nbsp;Nueva Reserva
    </button>
  </div>
  <div class="col-12 text-center">
    <div class="row" *ngIf="!reservations.length">
      <div class="col-12 pt-5">
        <span class="display-4">
          <i class="fa fa-times"></i>&nbsp;No tienes reservaciones registradas.
        </span>
      </div>
    </div>
    <div class="row mt-2" *ngIf="reservations.length">
      <div class="col-4" *ngFor="let r of reservations">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <span style="font-size: 30px;">{{r.date_reservation}}</span><br>
                <span>
                  <span>x<strong style="font-size: 40px;">{{r.persons_quantity}}</strong></span>
                </span>
              </div>
              <div class="col-12 text-right text-primary">S/&nbsp;{{r.total_amount | number:'1.2-2'}}</div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-danger float-left rounded-circle text-white" (click)="deleteReservation(r)">
              <i class="fa fa-trash"></i>
            </button>
            <span class="mr-5">Mesa:&nbsp;{{r.table_id}}</span><span class="badge badge-warning">{{r.status === 'reserved' ? 'Reservado' : 'Otro estado'}}</span> 
            <button class="btn btn-info float-right rounded-circle text-white" (click)="editSale(r)">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>


<div bsModal #newReservationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <form #newSaleForm="ngForm">
          <div class="row">
            <div class="col-5 mb-2">
              <h4 id="dialog-sizes-name1" class="modal-title pull-left">
                <span *ngIf="sale.id">Editar</span><span *ngIf="!sale.id">Nueva</span>&nbsp;Reservación
              </h4>
            </div>
            <div class="col-5">
              <button class="btn btn-primary" *ngIf="!sale.id" [disabled]="newSaleForm.invalid || !tableSelected || !initFraction" (click)="saveSale()">
                <i class="fa fa-save"></i>&nbsp;Guardar
              </button>
              <button class="btn btn-success" *ngIf="sale.id" (click)="SaveEditSale()">
                <i class="fa fa-pencil"></i>&nbsp;Actualizar
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="close float-right" (click)="closeModal('newReservation')" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-12">
              <ul class="nav nav-tabs">
                <li class="nav-item" (click)="selectDetail(d)" *ngFor="let d of details">
                  <a class="nav-link" [ngClass]="{'active': d.selected, 'text-info hand': !d.selected}">{{d.name | titlecase}}</a>
                </li>
              </ul>
              <div class="tab-content" id="v-pills-tabContent" *ngIf="detailSelected">
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" [ngClass]="{'show active': detailSelected.id === 'politics'}" aria-labelledby="v-pills-home-tab">
                  <div class="row">
                    <div class="col-12 mt-3">
                      <h1 class="display-4 font-title text-center text-uppercase">POLITICAS DE RESERVA “CHIFA CHAU FAN”</h1>
                      <strong class="display-4 font-subtitle">PROCESO DE RESERVA</strong>
                      <ol>
                        <li>Toda Reserva se deben de realizar un día después de la fecha actual en adelante.</li>
                        <li>Las reservas no tienen ningún costo.</li>
                        <li>Toda reserva se realiza con un tiempo máximo de una Hora.</li>
                        <li>Máximo de comensales es de 8 y mínimo 1. </li>
                        <li>Máximo tiempo de tardanza en asistir a la reserva es de 15 minutos pasado el tiempo se dará por terminada la reserva lo cual no tendrá derecho a devolución del dinero.</li>
                      </ol>
                      <strong class="display-4 font-subtitle">MODIFICACIÓN DE RESERVA</strong>
                      <ol>
                        <li>Toda Reserva se puede modificar solo la cantidad de comensales, y los buffets o bebidas que brinda “Chifa Chau Fan”.</li>
                        <li>Para modificar su reserva tiene un plazo de 5 horas después del registro.</li>
                      </ol>
                      <strong class="display-4 font-subtitle">CANCELACION DE LA RESERVA</strong>
                      <ol>
                        <li>Si desea cancelar su reserva, tiene un plazo de tres (3) horas después del registro, la devolución del dinero se realizará mediante una cuenta bancaria, se pondrá en contacto a través del correo <a href="mailto:chifachaufan@gmail.com">chifachaufan@gmail.com</a>.</li>
                      </ol>
                      <strong class="display-4 font-subtitle">DATOS DEL CLIENTE</strong>
                      <ol>
                        <li>Los que usted proporciona al registrarse como usuario o al realizar una reserva deben de ser datos reales.</li>
                        <li>El cliente se compromete a utilizar los servicios de manera acorde a la ley, buenas costumbres, moral, orden público y así mismo con lo dispuesto en lo presentes Términos y/o Condiciones En consecuencia, queda obligado a no utilizar los servicios, con fines o efectos ilícitos y/o contrarios a lo establecido en los presentes Términos y/o Condiciones, que de una forma puedan dañar los servicios, de la empresa “Chifa Chau Fan”.</li>
                      </ol>
                      <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="politics" id="customSwitch1" [(ngModel)]="sale.politics">
                        <label class="custom-control-label" for="customSwitch1">Acepto los termino y condiciones antes mencionadas.</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" [ngClass]="{'show active': detailSelected.id === 'reservation'}" aria-labelledby="v-pills-home-tab">
                  <div class="row">
                    <div class="col-12 mt-2">
                      <strong>Fecha de Reserva</strong> <br>
                      <input
                        readonly
                        [disabled]="sale.id"
                        placeholder="DD-MM-AAAA"
                        class="form-control"
                        name="date_reservation"
                        [(ngModel)]="sale.date_reservation"
                        #dp="bsDatepicker"
                        [minDate]="currentDate"
                        (change)="getDistributions()"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-red'}"
                        bsDatepicker
                        required>
                    </div>
                    <div class="col-12 mt-2">
                      <strong>Seleccione su Mesa:</strong>
                      <div class="row" *ngIf="!sale.id">
                        <div class="col-2" *ngFor="let t of tables">
                          <div class="card hand" [ngClass]="{'bg-primary': t.id === tableSelected.id}" (click)="selectTable(t)">
                            <img src="http://206.189.173.158:3000/static/tables/{{t.photo}}" height="80" class="card-img-top">
                            <div class="card-body text-center">
                              <small>{{t.name | uppercase}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="sale.id">
                        <div class="col-2" *ngFor="let t of tables">
                          <div class="card" [ngClass]="{'bg-primary': t.id === tableSelected.id}">
                            <img src="http://206.189.173.158:3000/static/tables/{{t.photo}}" height="80" class="card-img-top">
                            <div class="card-body text-center">
                              <small>{{t.name | uppercase}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2" *ngIf="sale.table_id && sale.date_reservation">
                      <div class="form-row">
                        <div class="col-6">
                          <div class="row">
                            <div class="col-6 mb-2">
                              <strong>Horarios disponibles:</strong>
                            </div>
                            <div class="col-6 mb-2 text-right">
                              <button class="btn btn-sm btn-danger" (click)="cleanSelection()">
                                <i class="fa fa-trash"></i>&nbsp;Limpiar Selección
                              </button>
                            </div>
                            <div class="col-12">
                              <div class="form-row">
                                <div class="col-4" *ngFor="let f of fractions">
                                  <div class="alert text-center" style="font-size: 12px;" [ngClass]="{'alert-danger hand ': f.selected, 'alert-success hand ': !f.selected, 'alert-warning dont': f.bussy}" (click)="selectFraction(f)">
                                    {{f.init.substr(0,5)}} a {{f.finish.substr(0,5)}}
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="row">
                            <div class="col-12 mb-2">
                              <strong>Cantidad de Comensales<span>:&nbsp;{{sale.persons_quantity}} persona<span *ngIf="sale.persons_quantity>1">s</span></span></strong>
                            </div>
                            <div class="col-12 text-center">
                              <img src="assets/images/table{{sale.persons_quantity}}.png"height="250" width="70%" alt="">
                              <br>
                              <button class="btn btn-lg rounded-circle btn-light mr-5" (click)="togglePerson('minus')">
                                <i class="fa fa-minus fa-2x text-danger"></i>
                              </button>
                              <button class="btn btn-lg rounded-circle btn-light" (click)="togglePerson('plus')">
                                <i class="fa fa-plus fa-2x text-primary"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-2 text-right">
                      <button class="btn btn-primary" (click)="goTo('delivery')">
                        Continuar&nbsp;<i class="fa fa-arrow-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-home" role="tabpanel" [ngClass]="{'show active': detailSelected.id === 'delivery'}" aria-labelledby="v-pills-home-tab">
                  <div class="row">
                    <div class="col-7">
                      <h1 class="display-4" style="font-size: 18px;" *ngIf="!saleDetails.length">
                        <i class="fa fa-times"></i>&nbsp;Registra Productos
                      </h1>
                      <table class="table table-striped" *ngIf="saleDetails.length">
                        <thead>
                          <tr>
                            <th>Detalle de Plato</th>
                            <th class="text-center">Cant.</th>
                            <th class="text-right">Total</th>
                            <th><br></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let sd of saleDetails; let index = index">
                            <td style="vertical-align: middle;">
                              <span style="font-size: 14px;">{{getProductName(sd) | uppercase}}</span><br>
                              <span class="badge badge-primary">S/&nbsp;{{sd.unit_price | number: '1.2-2'}}</span>
                            </td>
                            <td style="vertical-align: middle;" class="text-center">
                              x
                              <strong style="font-size: 28px;">{{sd.quantity}}</strong>
                            </td>
                            <td style="vertical-align: middle;" class="text-right text-primary">
                              {{sd.price | number:'1.2-2'}}
                            </td>
                            <td class="text-center">
                              <button class="btn btn-danger rounded-circle" (click)="deleteItem(index)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th colspan="2" class="text-right">
                              TOTAL
                            </th>
                            <td class="text-right">{{sale.total_amount | number:'1.2-2'}}</td>
                            <td><br></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <div class="col-5">
                      <ul class="nav nav-tabs">
                        <li class="nav-item" *ngFor="let c of categories" (click)="selectCategory(c)">
                          <a class="nav-link" [ngClass]="{'active': c.selected, 'text-info hand': !c.selected}">{{c.name | titlecase}}</a>
                        </li>
                      </ul>
                      <ul class="list-group" style="max-height: 400px; overflow: auto;">
                        <li class="list-group-item" *ngFor="let p of productsFiltereds">
                          <div class="row">
                            <div class="col-7">
                              <img src="http://206.189.173.158:3000/static/products/{{p.photo}}" style="width: 100%; height: 80px;">
                            </div>
                            <div class="col-5 text-left" style="font-size: 12px;">
                              <div class="row">
                                <div class="col-12">
                                  <strong class="text-primary">{{p.name | uppercase}}</strong> <br>
                                  <strong class="text-danger">{{p.unit_price | number:'1.2-2'}}</strong> <br>
                                </div>
                                <div class="col-12 text-center">
                                  <button class="btn btn-sm btn-danger rounded-circle mr-2" *ngIf="existsInDetail(p)" (click)="removeItem(p)">
                                    <i class="fa fa-minus"></i>
                                  </button>
                                  <button class="btn btn-sm btn-primary rounded-circle" (click)="addItem(p)">
                                    <i class="fa fa-plus"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary" (click)="goTo('reservation')">
                        <i class="fa fa-arrow-left"></i>&nbsp;Volver
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" *ngIf="sale.table_id && sale.date_reservation">
              
            </div>
            <div class="row">
              <div class="col-12" *ngIf="searchingDistributions && !distributions.length"></div>
              <div class="col-12" *ngIf="!searchingDistributions"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div bsModal #confirmationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center">
            <strong>¡Tu pedido ha sido reservado!</strong>
          </div>
          <div class="col-12">
            <p>Hola, {{userLoged.names | titlecase}}, <br>
              ¡Gracias por tu pedido! <br>
              En estos momento tu reserva ha sido completada. Gracias por elegir nuestra empresa. <br>
              <strong>Fecha y Hora de Registro</strong><br>
                    {{sale.create_at | date: 'dd/MM/yyyy hh:mm a'}}

            </p>
          </div>
          <div class="col-12"  style="max-height: 200px; overflow: auto;">
            <table class="table table-striped table-sm" >
              <thead>  
                <tr>
                  <th colspan="2" class="text-uppercase text-danger">Detalle de Reserva</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td *ngIf="sale.initFraction && sale.finishFraction">

                    <strong>Fecha de Reserva:</strong>&nbsp;{{sale.date_reservation | date: 'dd/MM/yyyy'}} <br>
                    <strong>De:</strong>&nbsp;{{sale.initFraction.init}}&nbsp;a&nbsp;{{sale.finishFraction.finish}}
                 </td>
                  <td>
                    <strong>Mesa</strong><br>
                    {{tableSelected.number}}
                  </td>
                </tr>
                <tr *ngFor="let item of saleDetails">
                  <td>
                    <img src="assets/images/{{item.photo}}" width="60" height="60" alt="">&nbsp;{{getProductName(item) | titlecase}} <br>
                    Cantidad: {{item.quantity}}
                  </td>
                  <td class="text-right text-primary">
                    {{item.price | number:'1.2-2'}}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Sub Total</td>
                  <td class="text-right text-primary">{{sale.total_amount | number:'1.2-2'}}</td>
                </tr>
                <tr>
                  <td>Descuento</td>
                  <td class="text-right text-danger">0</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="text-right text-primary">{{sale.total_amount | number:'1.2-2'}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-12">
            <p>Contactenos <br>
              Celular: 964050503 <br>
              Correo: chifachaufan@gmail.com
            </p>
          </div>
          <div class="col-4 offset-4 text-center">
            Código QR <br>
            <img src="{{qrCodeConfirmation}}" width="150" height="150" alt="QR Code"> <br>
          </div>
          <div class="col-12 text-center">
            <p>Lo esperamos en Chifa Chau Fan</p>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger" (click)="closeModal('confirmation')">Salir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
