

<div class="col-12 pt-3">
    <div class="card">
      <div class="card-header">
        Mesas
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <div class="col-6 text-center">
                <h5>Registrar Mesa</h5>
            </div>
            <ul class="list-group">
              <li class="list-group-item">
                <form #newTableForm="ngForm">
                  <div class="form-row">
                    <div class="col-10">
                      <input type="text" name="name" placeholder="Mesa xx" [(ngModel)]="newTable.name" class="form-control form-control-sm text-uppercase" required>
                    </div>
                    <div class="col-2">
                      <input type="number" name="number" id="" placeholder="00" [(ngModel)]="newTable.number" class="form-control form-control-sm text-uppercase" required>
                    </div>

                    <div class="col-12 mb-2">
                      <input type="file" id="tablePhoto" *ngIf="!newTable.photo" required>
                      <div class="row" *ngIf="newTable.photo">
                        <div class="col-5">
                          <img width="100" height="60" src="http://206.189.173.158:3000/static/tables/{{newTable.photo}}" alt="">
                        </div>
                        <div class="col-7">
                          <button class="btn btn-danger" (click)="deletePhoto()"><i class="fa fa-times"></i>&nbsp;Eliminar Foto</button>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 text-center">
                      <button class="btn btn-danger btn-sm mr-5" (click)="cancelEditTable()" *ngIf="editingTable">
                        <i class="fa fa-times"></i>&nbsp;Cancelar Edición
                      </button>
                      <button class="btn btn-success btn-sm"  *ngIf="editingTable" (click)="saveEditTable()">
                        <i class="fa fa-pencil"></i>&nbsp;Terminar Edición
                      </button>
                      <button class="btn btn-primary btn-sm "  *ngIf="!editingTable" (click)="saveTable()">
                        <i class="fa fa-save"></i>&nbsp;Guardar
                      </button>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <div class="col-6 text-center">
                <h5>Listado de Mesa</h5>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let table of tables; let index = index">
                <div class="row">
                  <div class="col-4">
                    <img width="150" height="80" src="http://206.189.173.158:3000/static/tables/{{table.photo}}" alt="">
                  </div>
                  <div class="col-5">
                    {{table.name | uppercase}}&nbsp;{{table.number}}
                  </div>
                  <div class="col-3 text-right">
                    <button class="btn btn-primary mr-2" (click)="editTable(table)"><i class="fa fa-pencil"></i></button>
                    <button class="btn btn-danger" (click)="removeTable(table.id, index)"><i class="fa fa-trash"></i></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  
