<div class="row">
  <div class="col-4 offset-4">
    <div class="card">
      <div class="card-body">
        <h3 class="display-4">Para culminar</h3>
        <small>Necesitas cambiar tu contraseña.</small>
        <form #changePasswordForm="ngForm">
          <div class="form-group">
            <label for="">Ingrese contraseña</label>
            <div class="input-group">
              <input type="{{!newPassword.seePassword ? 'password': 'text'}}" class="form-control" name="password" [(ngModel)]="newPassword.password" required>
              <div class="input-group-append">
                <button class="btn btn-light" (click)="newPassword.seePassword = !newPassword.seePassword" type="button" id="button-addon2">
                  <i class="fa" [ngClass]="{'fa-eye': !newPassword.seePassword, 'fa-eye-slash': newPassword.seePassword}"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Confirma contraseña</label>
            <div class="input-group">
              <input type="{{!newPassword.seeConfirmPassword ? 'password': 'text'}}" type="password" class="form-control" name="confirm_password" [(ngModel)]="newPassword.confirmPassword" required>
              <div class="input-group-append">
                <button class="btn btn-light" (click)="newPassword.seeConfirmPassword = !newPassword.seeConfirmPassword" type="button" id="button-addon2">
                  <i class="fa" [ngClass]="{'fa-eye': !newPassword.seeConfirmPassword, 'fa-eye-slash': newPassword.seeConfirmPassword}"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="form-group text-center">
          <button class="btn btn-primary" [disabled]="changePasswordForm.invalid" (click)="changePassword()">
            <i class="fa fa-save"></i>&nbsp;Cambiar Contraseña
          </button>
        </div>
      </div>
    </div>
  </div>
</div>