<div class="row mb-5">
  <div class="col-9 mt-3">
    <h1 class="display-4" style="font-size: 20px;">Reservas</h1><br>
  </div>

  <!-- <div class="col-12 mt-2">
    <div class="form-row">
      <div class="col-3">
        <div class="card bg-light mb-3 hand" (click)="addSale()">
          <div class="card-header">Nueva Reservación</div>
          <div class="card-body">
            <h5 class="card-title">Click Aqui</h5>
            <p class="card-text">Necesitaras añadir nuevos platos.</p>
          </div>
        </div>
      </div>
      <div class="col-3" *ngFor="let r of reservations">
        <div class="card" [ngClass]="{'text-white bg-primary': r.status === 'A', 'text-white bg-success': r.status === 'R', 'text-white bg-danger': r.status === 'X'}">
          <div class="card-header ">
            <div class="row">
              <div class="col-6" style="font-size: 20px; font-weight: 700;">
                Mesa: {{r.table_id}}
              </div>
              <div class="col-6 text-right">
                2020.00100{{r.id}}
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6">
                #<strong style="font-size: 40px;">{{r.products.length}}</strong> <br>
              </div>
              <div class="col-6 text-right" style="font-size: 35px;">
                {{r.status}}
              </div>
            </div>
          </div>
          <div class="card-footer" *ngIf="r.status !== 'X'">
            <div class="row">
              <div class="col-9">
                <button class="btn btn-light rounded-circle mr-3">
                  <i class="fa fa-times text-danger"></i>
                </button>
                <button class="btn btn-light rounded-circle" *ngIf="r.status !== 'R'">
                  <i class="fa fa-dollar text-primary"></i>
                </button>
              </div>
              <div class="col-3 text-right">
                S/&nbsp;{{r.total_amount | number: '1.2-2'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="col-12 mt-3 mb-3">
    <div class="text-right">
      <a class="btn btn btn-primary" href="{{link}}" *ngIf="link" target="_blank">Descargar PDF</a>
    </div>
    <table class="table table-striped table-sm" id="contentToConvert">
      <thead>
        <tr>
          <th>Nombre Cliente</th>
          <th>tefefono</th>
          <th>mesa</th>
          <th>estado</th>
          <th>cantidad de personas</th>
          <th>fecha de reserva</th>
          <th>Hora de reserva</th>
          <th>Ver</th>
          <th class="text-right text-primary">Total</th>
        </tr>
      </thead>
      <tbody style="max-height: 250px !important; overflow: auto;">
        <tr *ngFor="let s of sales">
          <td>{{s.names | uppercase}}&nbsp;{{s.lastnames}}</td>
          <td>{{s.phone_number}}</td>
          <td>{{s.table_id}}</td>
          <td>{{s.status}}</td>
          <td>{{s.persons_quantity}}</td>
          <td>{{s.date_reservation}}</td>
          <td>{{s.distributions.substr(0,5)}} hasta {{s.distributions.substr(s.distributions.length-8, 5)}}</td>
          <td> 
            <button class="" (click)="detailReservation( s )" >
              <i class="fa fa-eye"></i>
            </button>
          <td class="text-right text-primary">S/&nbsp;{{s.total_amount | number: '1.2-2'}}</td>
          
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="7" class="text-right">TOTAL</th>
          <td class="text-right text-primary">S/&nbsp;{{total_sales | number:'1.2-2'}}</td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

<div bsModal  alert #detailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12"  style="max-height: 200px; overflow: auto;">
            <table class="table table-striped table-sm" >
              <tbody>
                <tr *ngFor="let item of saleDetailed.detail">
                  <td>
                    <img src=" http://206.189.173.158:3000/static/products/{{item.photo}}" width="60" height="60" alt="">&nbsp;{{getProductName(item.product_id) | titlecase}} <br>
                    Cantidad: {{item.quantity}}
                  </td>
                  <td class="text-right text-primary">
                    {{item.price | number:'1.2-2'}}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Sub Total</td>
                  <td class="text-right text-primary">{{saleDetailed.total_amount | number:'1.2-2'}}</td>
                </tr>
                <tr>
                  <td>Descuento</td>
                  <td class="text-right text-danger">0</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td class="text-right text-primary">{{saleDetailed.total_amount | number:'1.2-2'}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="col-12 text-center">
            <button class="btn btn-danger" (click)="closeModal('confirmation')">Salir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
  <div bsModal #newSaleModal="bs-modal" class="modal fade mt-2" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          Nueva Venta
        </div>
      </div>
    </div>  
  </div>  

  <div>
    
  </div> -->