
/* You can add global styles to this file, and also import other style files */
.hand {
  cursor: pointer;
}

.dont {
  cursor: not-allowed;
}

@font-face{
	font-family: shanghai;
	src:url(shanghai/shanghai.ttf);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}

.font-subtitle {
  font-size: 15px !important;
  font-weight: 500 !important;
}